<div id="@Id" class="@ClassValue" style="@Style">
    @ChildContent
</div>

<script>
    function slideDown(id, duration) {
        $("#" + id).slideDown(duration);
    }

    function slideUp(id, duration) {
        $("#" + id).slideUp(duration);
    }
</script>
