@if (RenderMode == Enums.AsyncContentRenderMode.AfterLoading)
{
    @if (IsLoading)
    {
        <Loader />
    }
    else
    {
        @ChildContent
    }
}
// RenderMode == Enums.AsyncContentRenderMode.WhileLoading
else
{
    <div class="async-content-container">
        @if (IsLoading)
        {
            <div class="async-content-loader-overlay">
                <Loader />
            </div>
        }

        @ChildContent
    </div>
}
