.duration-picker {
    display: flex;
    align-items: center;
    gap: 1px;
}

::deep .rz-datepicker > input {
    padding: 8px;
    padding-inline-end: unset !important;
    width: 60px;
}

::deep .rz-datepicker > button {
    display: none;
}

.up-down {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 1px;
}

.up-down > span {
    height: 20px;
}

.up-down > span ::deep i {
    height: 20px;
    background-color: var(--rz-primary);
    color: var(--rz-on-primary);
    cursor: pointer;
}

.up-down > span.disabled ::deep i {
    opacity: var(--rz-button-disabled-opacity);
    cursor: not-allowed;
}
