.duration-picker {
    display: flex;
}

::deep .rz-datepicker > input {
    padding: 8px;
    padding-inline-end: unset !important;
    width: 60px;
    border-radius: 0;
}

::deep .rz-datepicker > button {
    display: none;
}

.up-down {
    display: flex;
    flex-direction: column;
    position: relative;
}

.up-down > ::deep button {
    padding: 0;
    min-height: unset;
    min-width: unset;
    font-size: xx-small;
    letter-spacing: unset;
    width: 20px;
    border-radius: 0;
}
