<div class="duration-picker">
    <div>
        <RadzenDatePicker @bind-Value="TimeValue" ShowTime="true" TimeOnly="true" DateFormat="HH:mm" ShowTimeOkButton="@false" />
    </div>
    <div>
        <span class="@(Value >= MaxValue ? "disabled" : null)"><RadzenIcon Icon="keyboard_arrow_up" @onclick="Increment" /></span>
        <span class="@(Value <= MinValue ? "disabled" : null)"><RadzenIcon Icon="keyboard_arrow_down" @onclick="Decrement" /></span>
    </div>
</div>
