<div class="rz-data-grid rz-datatable rz-datatable-scrollable">
    <div class="rz-data-grid-data">
        <table class="rz-grid-table rz-grid-gridlines-both">
            <thead>
                <tr>
                    <th class="rz-text-align-center">
                        <div>
                            <span class="rz-column-title">
                                <span class="rz-column-title-content" />
                            </span>
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr class="rz-data-row">
                    <td>
                        <span class="rz-cell-data" />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
