<div
    style=@($@"
        color: {Constants.TicketStatusColor[Status]};
        background-color: {Constants.TicketStatusBgColor[Status]};
        padding: 1px;
        border-radius: 3px;")
>
    @Status
</div>
