<div class="yearpicker" @onfocusout="TryClose">
    <RadzenTextBox @ref="_input" class="yearpicker-value" Value="@Value.ToString()" ReadOnly="true" @onclick="Open" />
    <div class="yearpicker-menu" style="display: @(_isOpen ? "block" : "none")" @onmouseover="MouseIn" @onmouseout="MouseOut">
        <RadzenRow Gap="0" RowGap="0">
            <RadzenColumn Size="4">
                @if (_pageIndex == 0)
                {
                    <div/>
                }
                else
                {
                    <div class="yearpicker-btn" @onclick="PrevPage">&lt;</div>
                }
            </RadzenColumn>
            <RadzenColumn Size="4">Jahr</RadzenColumn>
            <RadzenColumn Size="4">
                <div class="yearpicker-btn" @onclick="NextPage">&gt;</div>
            </RadzenColumn>
        </RadzenRow>
        <RadzenRow Gap="0" RowGap="0">
            @for (var year = _firstYearOfPage; year <= _lastYearOfPage; year++)
            {
                var currentYear = year;

                <RadzenColumn Size="3">
                    @if (Value == currentYear)
                    {
                        <div class="yearpicker-selected">@currentYear</div>
                    }
                    else
                    {
                
                        <div class="yearpicker-btn" @onclick="(() => Select(currentYear))">@currentYear</div>
                    }
                </RadzenColumn>
            }
        </RadzenRow>
    </div>
</div>
