:root {
    --header-height: 55px;
    --sidebar-width: 55px;
    --scrollbar-width: 16px;
    --footer-height: 55px;
    /*--rz-row-gap: .5rem;*/
    --confirm-zindex: calc(var(--rz-dialog-zindex) + 10);
}

/* soll nicht collapsed werden */
.rz-sidebar, .rz-sidebar-collapsed {
    width: var(--sidebar-width) !important;
    height: 100vh;
    opacity: 1 !important;
    border-inline-end: unset !important;
    grid-area: unset !important;
}

.sidebar-top {
    height: var(--header-height);
    border-block-end: var(--rz-panel-menu-item-border);
}

.header {
    height: var(--header-height);
    top: 0;
}

.footer {
    height: var(--footer-height);
    bottom: 0;
}

.header, .footer {
    position: sticky;
    padding: 5px;
    display: flex;
    align-items: center;
    gap: 5px;
    border-bottom: unset !important;
}

.body {
    padding: var(--rz-row-gap);
    overflow: auto;
    height: 100vh;
}

body:has(.header) .body {
    height: calc(100vh - var(--header-height));
}

body:has(.footer) .body {
    height: calc(100vh - var(--footer-height));
}

body:has(.footer):has(.header) .body {
    height: calc(100vh - var(--header-height) - var(--footer-height));
}

.rz-notification {
    inset-block-start: unset !important;
    inset-inline-end: unset !important;
    left: 20px;
    bottom: 0;
}

/* Navigation */
a {
    color: inherit;
    width: fit-content;
    text-decoration: unset;
}
a:hover {
    text-decoration: underline !important;
}

/* Editor */
pre {
    margin: 5px 0;
    padding: 10px;
    background-color: black;
    border-radius: 5px;
}
code {
    width: 100%;
    display: block;
    box-sizing: border-box;
    white-space: pre-wrap;
    tab-size: 4;
    overflow-x: auto;
}

/* Confirm */
.rz-dialog-wrapper:has(.rz-dialog-confirm) {
    z-index: var(--confirm-zindex) !important;
}
