:root {
    --header-height: 50px;
    --sidebar-width: 55px;
    --scrollbar-width: 16px;
}

.rz-notification {
    inset-block-start: unset !important;
    inset-inline-end: unset !important;
    left: 20px;
    bottom: 0;
}

.sidebar-top {
    height: var(--header-height);
    border-block-end: var(--rz-panel-menu-item-border);
}

.rz-sidebar {
    width: var(--sidebar-width) !important;
    border-inline-end: unset !important;
    opacity: 1 !important;
}

.rz-body {
    transform: none !important;
}

.body-block {
    position: fixed;
    z-index: 9999;
    top: 0;
    bottom: 0;
    left: var(--sidebar-width);
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.menubar {
    height: var(--header-height);
    padding: 5px;
    display: flex;
    align-items: center;
    gap: 5px;
    border-bottom: unset !important;
}

main {
    padding: var(--rz-row-gap);
}

pre {
    margin: 5px 0;
    padding: 10px;
    background-color: #1E1E1E;
    border-radius: 5px;
}

code {
    width: 100%;
    display: block;
    box-sizing: border-box;
    white-space: pre-wrap;
    tab-size: 4;
    overflow-x: auto;
}
