<Row>
    <Column>
        <RadzenTextBox Value="@Type" ReadOnly />
    </Column>
    @if (Expected.HasValue)
    {
        <Column Style="display: flex; gap: 5px; align-items: center;">
            <DurationPicker @bind-Value="ActualValue" Style="width: 85px;" />
            <span style="width: 5px;">&#47;</span>
            <DurationPicker @bind-Value="ExpectedValue" Style="width: 85px;" />
        </Column>
    }
    else
    {
        <Column>
            <DurationPicker @bind-Value="ActualValue" Style="width: 185px" />
        </Column>
    }
    <Column Fill>
        <RadzenTextBox @bind-Value="NoteValue" Placeholder="Anmerkung:" />
    </Column>
    <Column>
        <RadzenIcon Icon="delete" Style="cursor: pointer" @onclick="OnDelte" />
    </Column>
</Row>
