::deep .rz-text-body1 {
    text-decoration-line: underline;
    margin-bottom: 10px;
}

.overtime div:nth-child(1),
.overtime div:nth-child(2)
{
    text-align: center;
}

.overtime div:nth-child(1) {
    font-size: 50px;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

li {
    flex: 50%;
}

::deep td {
    height: 50px;
}

::deep td > span {
    height: 100%;
}

::deep td.month {
    padding: 0 !important;
    text-align: center;
}

::deep td.month div {
    height: 100%;
    align-content: center;
}

::deep td.day {
    padding: 0 !important;
}
