@page "/tickets/{id:int}"
@inherits BasePage<TicketFormViewModel>

<PageTitle>Ticket #@Id</PageTitle>

<div class="ticket">
    <Body>
        <AsyncContent IsLoading="@ViewModel.IsLoading">
            <FlexCol>
                <FlexRow>
                    <FlexFill>
                        <RadzenTextBox Placeholder="Titel:" @bind-Value="ViewModel.Title" />
                    </FlexFill>
                    <TicketStatusDropDown @bind-Value="ViewModel.Status" />
                    <RadzenIcon Icon="delete" @onclick="ViewModel.DeleteTicketAsync" />
                </FlexRow>
                <FlexRow>
                    <FlexFill>
                        <TicketSearch Placeholder="Referenz:" @bind-Value="ViewModel.Ref" />
                    </FlexFill>
                    @if (ViewModel.Ref is not null)
                    {
                        <a href="tickets/@ViewModel.Ref.Id">
                            <RadzenIcon Icon="open_in_new" />
                        </a>
                    }
                    else
                    {
                        @* um den selben Abstand zu behalten *@
                        <RadzenIcon Icon="open_in_new" Style="visibility:hidden;" />
                    }
                </FlexRow>
                <Editor Placeholder="Beschreibung:" @bind-Value="ViewModel.Description" />
                <AttachmentPanel Attachments="@ViewModel.Attachments" AttachmentsChanged="@ViewModel.AttachmentsChanged" />
                @* <RadzenButton>SubTicket hinzufügen</RadzenButton>
                TODO: SubTickets
                <RadzenTabs>
                    <Tabs>
                        <RadzenTabsItem Text="Statusverlauf">
                            TODO: Statusverlauf
                        </RadzenTabsItem>
                        <RadzenTabsItem Text="@($"Arbeitsprotokoll ({(int)ViewModel.TimeSpent.TotalHours}:{ViewModel.TimeSpent.Minutes})")">
                            TODO: Arbeitsprotokoll
                        </RadzenTabsItem>
                    </Tabs>
                </RadzenTabs> *@
            </FlexCol>
        </AsyncContent>
    </Body>
</div>
