@page "/changelog"
@rendermode InteractiveServer
@inherits BasePage<ChangelogViewModel>

<PageTitle>Verlauf</PageTitle>

<Main>
    <AsyncContent IsLoading="@ViewModel.IsLoading.Value" Error="@ViewModel.LoadError.Value?.ToString()">
        Verlauf
    </AsyncContent>
</Main>

@code
{
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {

        }
    }
}
