@page "/changelog"
@rendermode InteractiveServer
@inherits BasePage<ChangelogViewModel>

<PageTitle>Verlauf</PageTitle>

<main class="changelog">
    <AsyncContent IsLoading="@ViewModel.IsLoading.Value" Error="@ViewModel.LoadError.Value?.ToString()">
        Verlauf
    </AsyncContent>
</main>
