@page "/checkin"
@rendermode InteractiveServer
@inherits BasePage<CheckInViewModel>

<PageTitle>Stechuhr</PageTitle>

<MenuBar>
    <RadzenButton>Erstellen</RadzenButton>
</MenuBar>

<main class="checkin">
    <AsyncContent IsLoading="@ViewModel.IsLoading.Value" Error="@ViewModel.LoadError.Value?.ToString()">
        Stechuhr
    </AsyncContent>
</main>
