@page "/"
@page "/home"
@inherits BasePage<HomeViewModel>

@using WorklogManagement.UI.Components.Home

<PageTitle>Startseite</PageTitle>

<main class="home">
    <RadzenRow>
        <RadzenColumn>
            <RadzenCard>
                <RadzenText>Überstunden:</RadzenText>
                <AsyncContent IsLoading="@ViewModel.LoadOvertime" Error="@ViewModel.LoadOvertimeError">
                    @ViewModel.Overtime!.TotalMinutes
                </AsyncContent>
            </RadzenCard>
        </RadzenColumn>
        <RadzenColumn>
            <RadzenCard>
                <RadzenText>Tage:</RadzenText>
            </RadzenCard>
        </RadzenColumn>
        <RadzenColumn>
            <RadzenCard>
                <RadzenText>Tickets:</RadzenText>
            </RadzenCard>
        </RadzenColumn>
    </RadzenRow>
    <RadzenRow>
        <RadzenColumn Size="12">
            <RadzenPanel>
                <RadzenRow>
                    <RadzenColumn>
                        <YearPicker Year="@ViewModel.SelectedYear" />
                    </RadzenColumn>
                    <RadzenColumn>
                        @* <RadzenDropDown>
                            TODO: Dropdown für Bundesland
                        </RadzenDropDown> *@
                    </RadzenColumn>
                </RadzenRow>
                <RadzenRow>
                    <RadzenColumn Size="12">
                        <HomeCalendar />
                    </RadzenColumn>
                </RadzenRow>
            </RadzenPanel>
        </RadzenColumn>
    </RadzenRow>
</main>
