@page "/"
@rendermode InteractiveServer
@inherits BasePage<HomeViewModel>

<PageTitle>Startseite</PageTitle>

<Content>
    @if (ViewModel.LoadOvertime.Value)
    {
        <span>Lade...</span>
    }
    else
    {
        @ViewModel.Overtime.Value!.TotalSeconds
    }
</Content>

@code
{
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await ViewModel.LoadOvertimeAsync();
        }
    }
}
