@page "/"
@rendermode InteractiveServer
@inherits BasePage<HomeViewModel>

<PageTitle>Startseite</PageTitle>

<main class="home">
    <RadzenRow>
    </RadzenRow>
    <RadzenRow>
        <RadzenColumn>
            <RadzenCard>
                <div class="card">
                    <RadzenText>Überstunden:</RadzenText>
                    <AsyncContent IsLoading="@ViewModel.LoadOvertime.Value" Error="@ViewModel.LoadOvertimeError.Value?.ToString()">
                        @ViewModel.Overtime.Value!.TotalMinutes
                    </AsyncContent>
                </div>
            </RadzenCard>
        </RadzenColumn>
        <RadzenColumn>
            <RadzenCard>
                <RadzenText>Tage:</RadzenText>
            </RadzenCard>
        </RadzenColumn>
        <RadzenColumn>
            <RadzenCard>
                <RadzenText>Tickets:</RadzenText>
            </RadzenCard>
        </RadzenColumn>
    </RadzenRow>
    <RadzenRow>
        <RadzenColumn Size="12">
            <RadzenPanel>
                <RadzenRow></RadzenRow>
                <RadzenRow>
                    @* <RadzenDataGrid Value="@Enumerable.Empty">
                        <RadzenColumn />
                        @for(int i = 1; i <= 31; i++)
                        {
                            <RadzenColumn />
                        }
                    </RadzenDataGrid> *@
                </RadzenRow>
            </RadzenPanel>
        </RadzenColumn>
    </RadzenRow>
</main>
