@page "/tickets"
@rendermode InteractiveServer
@inherits BasePage<TicketsViewModel>

<PageTitle>Tickets</PageTitle>

<MenuBar>
    <RadzenButton>Erstellen</RadzenButton>
</MenuBar>

<Main>
    <AsyncContent IsLoading="@ViewModel.IsLoading.Value" Error="@ViewModel.LoadError.Value?.ToString()">
        Tickets
    </AsyncContent>
</Main>

@code
{
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {

        }
    }
}
