@page "/tickets"
@rendermode InteractiveServer
@inherits BasePage<TicketsViewModel>

<PageTitle>Tickets</PageTitle>

<MenuBar>
    <RadzenButton>Erstellen</RadzenButton>
</MenuBar>

<main class="tickets">
    <AsyncContent IsLoading="@ViewModel.IsLoading.Value" Error="@ViewModel.LoadError.Value?.ToString()">
        Tickets
    </AsyncContent>
</main>
