@page "/tracking/{id:int}"
@rendermode InteractiveServer
@inherits BasePage<WorklogViewModel>

<PageTitle>Eintrag #@Id</PageTitle>

<main class="worklog">
    <AsyncContent IsLoading="@ViewModel.IsLoading.Value" Error="@ViewModel.LoadError.Value?.ToString()">
        Eintrag #@Id
    </AsyncContent>
</main>
