@page "/tracking/{id:int}"
@rendermode InteractiveServer
@inherits BasePage<WorklogViewModel>

<PageTitle>Eintrag #@Id</PageTitle>

<Main>
    <AsyncContent IsLoading="@ViewModel.IsLoading.Value" Error="@ViewModel.LoadError.Value?.ToString()">
        Eintrag #@Id
    </AsyncContent>
</Main>

@code {
    [Parameter]
    public required int Id { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {

        }
    }
}
