@inherits LayoutComponentBase

<RadzenComponents />

<RadzenLayout>
    <RadzenSidebar>
        <div class="sidebar-top">
            @if (DataStateService.IsLoading)
            {
                <Loader />
            }
            else if (DataStateService.Errors.Any())
            {
                <RadzenIcon Icon="error" Style="color: red; height: 100%; width: 100%; font-size: xxx-large;" />
            }
            else
            {
                <RadzenIcon Icon="check_circle" Style="color: green; height: 100%; width: 100%; font-size: xxx-large;" />
            }
        </div>
        <NavMenu />
        <div class="version">
            @Assembly.Version
        </div>
    </RadzenSidebar>
    @if (DataStateService.Errors.Any())
    {
        <Body>
            @foreach (var error in DataStateService.Errors)
            {
                <RadzenAlert AlertStyle="AlertStyle.Danger" Shade="Shade.Darker" Size="AlertSize.Small" AllowClose="false">
                    @error
                </RadzenAlert>
            }
        </Body>
    }
    else
    {
        @Body
    }
</RadzenLayout>
