@inherits LayoutComponentBase

<RadzenComponents />

<RadzenLayout>
    <RadzenSidebar>
        <div class="sidebar-top">
            @if (DataStateService.IsLoading)
            {
                <Loader />
            }
            else if (DataStateService.Errors.Any())
            {
                <RadzenIcon Icon="error" Style="color: red; height: 100%; width: 100%; font-size: xxx-large;" />
            }
            else
            {
                <RadzenIcon Icon="check_circle" Style="color: green; height: 100%; width: 100%; font-size: xxx-large;" />
            }
        </div>
        <NavMenu />
    </RadzenSidebar>
    @if (DataStateService.Errors.Any())
    {
        <Body>
            <FlexCol>
                @foreach (var error in DataStateService.Errors)
                {
                    <pre>@error.ToString()</pre>
                }
            </FlexCol>
        </Body>
    }
    else
    {
        @Body
    }
</RadzenLayout>
