<FlexCol Style="gap: 0;">
    <FlexRow>
        @if (ShowDate)
        {
            <DatePicker @bind-Value="Date" />
        }
        <FlexFill>
            <TicketSearch @bind-Value="Ticket" />
        </FlexFill>
        <a href="tickets/@Ticket.Id" style="align-self: end;">
            <RadzenIcon Icon="open_in_new" />
        </a>
        <DurationPicker @bind-Value="TimeSpent" />
        @if (string.IsNullOrEmpty(Description))
        {
            <RadzenIcon Icon="chat_bubble" @onclick="ToggleDescription" />
        }
        else
        {
            <RadzenIcon Icon="chat" @onclick="ToggleDescription" />
        }
        <span style="display: flex; cursor: pointer;" @onclick="OpenAttachmentsDialog">
            <RadzenIcon Icon="attach_file" />
            @Attachments.Count()
        </span>
        <RadzenIcon Icon="delete" @onclick="OnDelete" />
    </FlexRow>
    <Accordion IsOpen="@ShowDescription">
        <div style="margin-top: calc(var(--rz-row-gap) / 2);">
            <RadzenLabel Text="Beschreibung:" />
            <Editor @bind-Value="Description" Placeholder="Beschreibung:" />
        </div>
    </Accordion>
</FlexCol>
<AttachmentsDialog
    @bind-IsOpen="IsOpenAttachmentsDialog"
    Title="Anhänge"
    Attachments="@Attachments"
    AttachmentsChanged="@AttachmentsChanged"
/>
