@page "/tracking"
@inherits BasePage<TrackingViewModel>

<PageTitle>Aufwand</PageTitle>

<div class="tracking">
    <Header>
        <RadzenButton>Erstellen</RadzenButton>
        <DatePicker @bind-Value="ViewModel.SelectedDate" Disabled="@(!string.IsNullOrWhiteSpace(ViewModel.Search))" />
        <RadzenTextBox @bind-Value="ViewModel.Search" Placeholder="Suche:" />
        <FlexFill />
        Gesamt: @TimeSpan.FromTicks(ViewModel.Worklogs.Sum(x => x.TimeSpent.Ticks)).ToTimeString()
    </Header>

    <Body>
        <AsyncContent>
            <FlexCol>
                @foreach (var worklog in ViewModel.Worklogs)
                {
                    <TrackingEntry Worklog="@worklog" />
                }
            </FlexCol>
        </AsyncContent>
    </Body>
</div>
