@page "/tracking"
@inherits BasePage<TrackingViewModel>

<PageTitle>Aufwand</PageTitle>

<div class="tracking">
    <Header>
        <RadzenButton>Erstellen</RadzenButton>
        <RadzenDatePicker TValue="@DateTime" />
        <RadzenTextBox Placeholder="Suche:" />
        <FlexFill />
        Gesamt: 00:00
    </Header>

    <Body>
        <AsyncContent>
            <FlexCol>
                @* @foreach (var ticket in ViewModel.Page.Items)
                {
                    <TicketListEntry Ticket="@ticket" OnEdit="@ViewModel.SaveTicketAsync" OnDelete="@(() => ViewModel.DeleteTicketAsync(ticket))" />
                } *@
            </FlexCol>
        </AsyncContent>
    </Body>
</div>
